<div class="navbar">
  <a (click)="ToggleLeftNav()" class="horizontal">|||</a>
  <a routerLink="/">Home</a>
  <a routerLink="/application1">Application1</a>
  <a routerLink="/application2">Application2</a>
</div>

<div id="mySidenav" class="sidenav" [style.width] = "leftNavWidth">
  <a href="javascript:void(0)" class="closebtn" (click)="ToggleLeftNav()">&times;</a>
  <a routerLink="/">Home</a>
  <a routerLink="/application1">Application1</a>
  <a routerLink="/application2">Application2</a>
  <a routerLink="/application3">Application3</a>
</div>

<!-- Use any element to open the sidenav -->
