<div class="navbar">
  <a (click)="ToggleLeftNav()" class="horizontal">|||</a>
  <a routerLink="/">Home</a>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/bookings">Bookings</a>
</div>

<div id="mySidenav" class="sidenav" [style.width] = "leftNavWidth">
  <a href="javascript:void(0)" class="closebtn" (click)="ToggleLeftNav()">&times;</a>
  <a routerLink="/">Home</a>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/bookings">Bookings</a>
</div>

<!-- Use any element to open the sidenav -->
